Flask==2.2.5
Flask-Cors==3.0.10
Flask-SocketIO==5.3.4
Flask-WTF==1.1.1
Flask-Talisman==1.0.0
Flask-Limiter==2.0.0
paho-mqtt==1.6.1
freedec==2.0.0
cryptography==41.0.3
pyOpenSSL==23.2.0
numpy==1.24.3
pytest==7.4.2
mock==5.0.2
python-dotenv==1.0.0
# Install dsame3 from GitHub
git+https://github.com/jamieden/dsame3.git@main#egg=dsame3
