{% extends "base.html" %}
{% block content %}
<h2 class="text-center">Alert Log</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Event</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log[0] }}</td>
            <td>{{ log[1] }}</td>
            <td>{{ log[2] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/" class="btn btn-primary">Back</a>
{% endblock %}
